#Contact {
  height: 100vh;
  background: linear-gradient(180deg, #690FD7 0%, #D9D9D9 100%);
  padding: 8vw 8vw;
  position: relative;
}

.FinalPage {
  display: flex;
  /* position: absolute;
  bottom: 64px; */
}

.LeftContact {
  /* position: absolute;
  bottom: 64px; */
}

.ContactImage{
  position: absolute;
  height: 50vw;
  z-index: 0;
  right: 0;
  bottom: 0;
}

.Socials {
  display: grid;
  grid-template-columns: 12vw 12vw;
  grid-gap: 4vw;
}

.SocialLogo {
  width: 12vw;
}

.ContactInfo {
  z-index: 2;
  width: 40vw;
}

.ContactInfo > p {
  /* font-size: 12px; */
  font-size: 1vmax;
}

.ContactInfo > h2 {
  margin: 0;
  padding: 0;
}
.ContactInfo > h3 {
  margin: 0;
  padding: 0;
}

.contactText {
  font-weight: 400;
  font-style: italic;
  font-size: 9vmin;
}
