#Contact {
  height: 100vh;
  background: linear-gradient(180deg, #690FD7 0%, #d9d9d98b 100%);
  padding: 8vw 8vw;
  /* position: relative; */
}

.FinalPage {
  display: flex;
  /* position: absolute;
  bottom: 64px; */
}

.LeftContact {
  /* position: absolute;
  bottom: 64px; */
}

.ContactImage{
  position: absolute;
  height: 50vw;
  z-index: 0;
  right: 0;
  bottom: 0;
}

.Socials {
  display: grid;
  grid-template-columns: 12vw 12vw;
  grid-gap: 4vw;
}

.SocialLogo {
  width: 12vw;
  cursor: pointer;
}

.SocialLogo:hover {
  width: 11.5vw;
  transition-duration: 600ms;
}

.ContactInfo {
  z-index: 2;
  width: 40vw;
  padding: 32px 0;
}

.ContactInfo > p {
  /* font-size: 12px; */
  font-size: 1vmax;
}

.ContactInfo > h2 {
  margin: 0;
  padding: 0;
}
.ContactInfo > h3 {
  margin: 0;
  padding: 0;
}

.ContactText {
  font-weight: 400;
  font-style: italic;
  font-size: 9vmin;
}

.ContactForm {
  display: grid;
  width: 44vw;
  /* -webkit-appearance: none; */
}

.FormLabel {
  /* position: absolute;
  z-index: 2; */
  padding: 6px 0;
}

.FormInput {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #000000;
  backdrop-filter: blur(12.5px);
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vmin;
  color: white;
  padding: 8px 12px;
}

.TextArea {
  height: 24vh;
}

.FormButton {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 4vmin;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12.5px);
  border-radius: 10px;
  border: none;
  margin-top: 12px;
}

.FormButton:hover {
  background: rgba(255, 255, 255, 0.4);
  transition-duration: 600ms;
}
