#DemonCall {
  background: linear-gradient(180deg, #8A3FF4 0%, #690FD7 100%);
  height: 100vh;
  text-align: center;
}

.DemonBanner {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 20vmax;
  position: absolute;
  width: 100%;
  color: #e5e5e5;
  z-index: 0;
  opacity: 0.05;
}

.SiteCards {
  margin: 0 4vw;
  padding: 2vw;
}

.SiteCard {
  margin: 24px;
  padding: 2rem;
  /* background-color: black; */
  border: solid rgba(255, 255, 255, 0.861);
  border-width: 0.5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-height: 30vmin; */
}

.SiteCard:hover {
  border-radius: 20px;
  background-color: black;
  border-color: #ffffff00;
  transition-duration: 600ms;
}

.SCText {
  font-size: 5vmax;
}

.InactiveImage {
  opacity: 0;
  max-height: 16vh;
  max-width: 16vw;
}

.ActiveImage {
  opacity: 1;
  max-height: 16vh;
  max-width: 16vw;
}

.ReachButton {

}
