#DemonCall {
  background: linear-gradient(180deg, #8A3FF4 0%, #690FD7 100%);
  text-align: center;
  padding-bottom: 12px;
}

.DemonBanner {
  cursor: default;
  font-family: "Arial", sans-serif;
  font-size: 20vmax;
  position: absolute;
  width: 100%;
  color: #e5e5e5;
  z-index: 0;
  opacity: 0.05;
}

.SiteCards {
  margin: 0 4vw;
  padding: 2vw;
}

.SiteCard {
  color: white;
  margin: 24px;
  padding: 2rem;
  border: solid rgba(255, 255, 255, 0.861);
  border-width: 0.5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SiteCard:hover {
  border-radius: 20px;
  background-color: black;
  border-color: #ffffff00;
  transition-duration: 600ms;
}

.SCText {
  font-size: 5vmax;
}

.InactiveImage {
  opacity: 0;
  max-height: 8vh;
  max-width: 8vw;
}

.ActiveImage {
  opacity: 1;
  max-height: 8vh;
  max-width: 8vw;
}

.ReachButton {
  margin: 12px 24vw;
  padding: 16px 12vw;
  font-size: 3.2vmax;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  cursor: default;
}

.ReachButton:hover {
  background: rgba(255, 255, 255, 0.4);
  transition-duration: 600ms;
}
