#Hero {
  display: flex;
  align-items: flex-end;
  padding-left: 8vw;
  height: 100vh;
  /* background: linear-gradient(180deg, #6457F9 0%, #D9D9D9 100%); */
}

.HeroInfo {
  /* margin: 0; */
  /* width: 500px; */
  width: 40vw;
}

.HeroInfo > p {
  /* font-size: 12px; */
  font-size: 1vmax;
}

.HeroInfo > h2 {
  margin: 0;
  padding: 0;
}
.HeroInfo > h3 {
  margin: 0;
  padding: 0;
}

.CloneImage {
  height: 50vw;
}
