#Hero {
  display: flex;
  align-items: flex-end;
  padding-left: 8vw;
  height: 100vh;
}

.HeroInfo {
  width: 40vw;
}

.HeroInfo > p {
  font-size: 1vmax;
}

.HeroInfo > h2 {
  margin: 0;
  padding: 0;
}
.HeroInfo > h3 {
  margin: 0;
  padding: 0;
}

.CloneImage {
  height: 50vw;
}
