#MaisonLaurierHero {
  width: 100%;
  height: 100vh;
}

.MaisonVideo {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.MaisonBanner {
  padding: 9vw;
}

.MBContent {
  cursor: default;
  text-align: center;
  background: rgba(222, 222, 222, 0.4);
  backdrop-filter: blur(12.5px);
  border-radius: 20px;
  position: relative;
  top: 0;
}

.MBContent > h4 {
  margin: 0;
  padding: 0;
}

.MBContent > h5 {
  margin: 0;
  padding: 0;
}

.MLText {
  display: flex;
  align-items: flex-end;
  font-size: 1.5vw;
  width: 40vw;
  height: 40vh;
  position: relative;
}
