#MaisonLaurierHero {
  width: 100%;
  height: 100vh;
}

.MaisonVideo {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.MaisonBanner {
  /* padding: 150px; */
  padding: 11vmax;
}

.MBContent {
  text-align: center;
  background: rgba(222, 222, 222, 0.4);
  backdrop-filter: blur(12.5px);
  border-radius: 20px;
  position: relative;
  top: 0;
}

.MBContent > h4 {
  margin: 0;
  padding: 0;
}

.MBContent > h5 {
  margin: 0;
  padding: 0;
}

.MLText {
  /* font-size: 20px; */
  font-size: 1.53vmax;
  width: 40vw;
  height: 40vh;
  position: relative;
  /* padding: 8em 0; */
}
