.Menu {
  display: flex;
  justify-content: right;
  margin-right: 20px;
  position: relative;
  z-index: 3;
}

.MenuList {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 10px 20px;
  font-size: 32px;
  text-align: right;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border-radius: var(--main-border-radius);
  z-index: 3;
}

.activeMenu {
  font-weight: 700;
  transition-duration: 200ms;
}

.menuItem {
  cursor: pointer;
}

/* .menuItem:hover {
  font-weight: 700;
} */
