.Navigation {
  position: sticky;
  top: 0px;
  z-index: 3;
}

.Navbar {
  display: flex;
  justify-content: right;
}

.NavbarIcons {
  display: flex;
  padding: 4px 20px;
  cursor: pointer;

}p {
  padding-right: 8px;
}

.NavbarIcons:hover {
  transition-duration: 500ms;
}
