#PineappleCall {
  text-align: center;
  background: linear-gradient(180deg, #00000000 36.14%, #690FD7 88.29%);
}

.Albums {
  display: flex;
  justify-content: space-evenly;
}

.Album {
  border-radius: 20px;
  width: 32vw;
  opacity: 0.4;
  border: 1px solid #5a5a5a00;
}

.Album:hover {
  opacity: 1;
  border-color: #5a5a5a;
  transition-duration: 600ms;
}

.PineappleAction {
  margin-top: 10vmin;
}

.BookButtonOuter {
  padding: 0 12vw;
}

.BookButton {
  padding: 16px 12vw;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.4);
}

.BookButton > h4 {
  font-weight: 400;
  margin: 0;
  cursor: default;
}

.BookButton:hover {
  transition-duration: 600ms;
  background: rgba(255, 255, 255, 0.4);
}
