#PineappleHero {
  text-align: center;
  height: 100vh;
  background: linear-gradient(180deg, #DADADA 0%, rgba(0, 0, 0, 0) 50.52%, #000000 96.87%), url(/public/images/PineappleDeejay.png);
  background-repeat: no-repeat;
  background: cover;
}

.PHeroText {
  font-family: 'Exo', sans-serif;
  font-size: 13vmin;
  font-style: italic;
  font-weight: 900;
  align-items: center;
  background: linear-gradient(90deg, #FB1394 0%, #E3A024 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 16vw 0;
}

/* .PineappleImage {
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  z-index: 0;
} */
