#PineappleHero {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background: cover;
}

.PHeroText {
  cursor: default;
  font-family: 'Exo', sans-serif;
  font-size: 8vw;
  font-style: italic;
  font-weight: 900;
  align-items: center;
  background: linear-gradient(90deg, #FB1394 0%, #e8a01a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 16vw 0;
}
