#PineappleCall {
  text-align: center;
  background: linear-gradient(180deg, #00000000 36.14%, #690FD7 88.29%);
}

.Albums {
  display: flex;
  justify-content: space-evenly;
}

.Album {
  border-radius: var(--main-border-radius);
  width: 32vw;
  opacity: 0.4;
}

.Album:hover {
  opacity: 1;
  transition-duration: 600ms;
}

.PineappleAction {
  margin-top: 10vmin;
}

.BookButtonOuter {
  padding: 0 12vw;
}

.BookButton {
  padding: 16px 12vw;
  border-radius: var(--main-border-radius);
  background: var(--button-bckg);
}

.BookButton > h4 {
  font-weight: 400;
  margin: 0;
  cursor: default;
}

.BookButton:hover {
  transition-duration: 600ms;
  background: var(--button-bckg-hover);
}
