@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./Components/navbar.css');
@import url('./Components/menu.css');
@import url('./Components/hero.css');
@import url('./Components/maisonHero.css');
@import url('./Components/maisonCarousel.css');
@import url('./Components/maisonCall.css');
@import url('./Components/pineappleHero.css');
@import url('./Components/pineappleCall.css');
@import url('./Components/demonHero.css');
@import url('./Components/demonCall.css');
@import url('./Components/contact.css');

:root {
  --main-border-radius: 20px;
  --button-bckg: rgba(0, 0, 0, 0.4);
  --button-bckg-hover: rgba(255, 255, 255, 0.4);
  --big-blur: blur(12.5px);
  --small-blur: blur(5px);
  --banner-text-color: #e5e5e5;
  --normal-duration: 600ms;
  --fast-duration: 200ms;
  --text-main: white;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-main);
}

h2 {
  font-size: 3.2vmax;
  font-weight: 400;
}

h3 {
  font-size: 1.6vmax;
  font-weight: 400;
}

h4 {
  font-size: 9vmin;
  font-weight: 700;
}

h5 {
  font-size: 18vmin;
  font-weight: 200;
}


h6 {
  font-size: 5vmax;
  font-weight: 700;
}

a {
  all: unset;
}
